<div id="<%= dom_id child %>">
  <p>
    <strong>Baby name:</strong>
    <%= child.baby_name %>
  </p>

  <p>
    <strong>Parent name:</strong>
    <%= child.parent_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= child.date_of_birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= child.gender %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= child.phone_number %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= child.weight %>
  </p>

</div>
