<%= form_with(model: @educational_message) do |form| %>
  <% if @educational_message.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@educational_message.errors.count, "error") %> prohibited this educational_message from being saved:</h2>
      <ul>
        <% @educational_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
<br />
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
<br />
  <div class="form-group">
    <%= form.label :category %>
    <%= form.collection_select :category, EducationalMessage::CATEGORY_NAMES, :to_s, :to_s, { prompt: "Select a category" }, class: "form-control" %>
  </div>
<br />
  <div class="form-group">
    <%= form.label :duration %>
    <%= form.collection_select :duration, EducationalMessage::DURATION_TIMES, :to_s, :to_s, { prompt: "Select the post pregnancy duration" }, class: "form-control" %>
  </div>
<br />
  <div class="form-group">
    <%= form.label :medic_id %>
    <%= form.text_field :medic_id, value: current_medic.email, disabled: true, class: "form-control" %>
  </div>
<br />
  <div class="form-group">
    <%= form.submit "Send Bulk SMS", class: "btn btn-primary" %>
  </div>
<% end %>
