<div class="homepage-container position-relative">
  <%= image_tag "babyshield.jpg", class: "background-image" %>
  <div class="overlay"></div>
  
  <div class="row justify-content-center align-items-center h-100 position-absolute top-0 start-0">
    <div class="col-md-6 text-center">
      <h1 style="color: white;">Welcome to BabyShield</h1>
      <p style="color: teal;">BabyShield is your postpartum and postnatal management care system, ensuring mothers and their newborns receive the support they need.</p>
      <%= link_to "Get Started", dashboard_index_path, class: "btn btn-primary" %>
    </div>
</div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">How BabyShield Works</h2>

      <div class="row">
        
        <div class="col-md-3">
          <div class="card card-container">
            <%= image_tag "number-1.png", class: "icons-section" %>
            <div class="card-body card-writings">
              <h3 class="card-title">Automated SMS Alerts</h3>
              <p class="card-text">BabyShield integrates with SignalWire to send automated SMS alerts to mothers based on scheduled care and provides resources support through SMS.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
  <div class="card card-container">
    <%= image_tag "number-2.png", class: "icons-section" %>
    <div class="card-body card-writings">
      <h3 class="card-title">Vaccine Stock Monitoring</h3>
      <p class="card-text">BabyShield enables medics to monitor vaccine stock levels and alerts mothers via SMS in case of stockouts, allowing them to plan accordingly before visiting specific clinics.</p>
    </div>
  </div>
</div>

        
        <div class="col-md-3">
          <div class="card card-container">
            <%= image_tag "number-3.png", class: "icons-section" %>
            <div class="card-body card-writings">
              <h3 class="card-title">Postpartum & Postnatal Follow-Ups</h3>
              <p class="card-text">BabyShield conducts follow-up calls and SMS reminders for missed schedules, ensuring mothers stay informed and supported throughout their postpartum & postnatal care.</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-container">
            <%= image_tag "number-4.png", class: "icons-section" %>
            <div class="card-body card-writings">
              <h3 class="card-title">Resources Support</h3>
              <p class="card-text">Mothers receive curated resources in categories such as newborn care, breastfeeding support, postpartum depression awareness, and mental health support, tailored to their postpartum & postnatal period.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="line" />

<section class="about-section">
  <div class="container">
    <h2 class="text-center">About BabyShield</h2>
    <p>BabyShield is your dedicated postpartum & postnatal care system, ensuring mothers and newborns receive timely support and resources. Through automated SMS alerts and follow-up calls, we keep mothers informed about immunization schedules and provide curated resources for newborn care, breastfeeding, and postpartum depression awareness.</p>
  </div>
</section>



<br />
<br />
