<div class="homepage-container">
  <div class="image-container">
    <%= image_tag "Baby-vaxx2.jpg", class: "background-image" %>
    
  </div>
</div>
<br />

<hr class="line" />

<div class="text-center">
      <h1 style="color: teal;">Helping Babies Get Their Immunizations</h1>
<p style="color: teal;">Stay informed and support newborns in receiving their essential immunizations. Click the button below to start sending alerts.</p>

      <%= link_to "Get Started", children_path, class: "btn btn-primary" %>
    </div>
<br />
<hr class="line" />
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">How it Works</h2>

      <div class="row">
        
        <div class="col-md-3">
          <div class="card card-container">
            <%= image_tag "number-1.png", class: "icons-section" %>
            <div class="card-body card-writings">
              <h3 class="card-title">Enter Baby Data</h3>
              <p class="card-text">Medics input newborn baby information into the system, including immunization schedules.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card card-container">
            <%= image_tag "number-2.png", class: "icons-section" %>
            <div class="card-body card-writings">
              <h3 class="card-title">Automated SMS Alerts</h3>
              <p class="card-text">The system sends automated SMS alerts to mothers based on the scheduled immunizations.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card card-container">
            <%= image_tag "number-3.png", class: "icons-section" %>
            <div class="card-body card-writings">
              <h3 class="card-title">Monitor Progress</h3>
              <p class="card-text">Medics can monitor the immunization progress and update schedules as needed.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card card-container">
            <%= image_tag "number-4.png", class: "icons-section" %>
            <div class="card-body card-writings">
              <h3 class="card-title">Follow Up Calls</h3>
              <p class="card-text">Do follow up calls and SMS reminders on missed immunizations.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="line" />

<section class="about-section">
  <div class="container">
    <h2 class="text-center">About Us</h2>
<p>Chanjo is a platform that ensures no child gets to miss their immuniation. We will help parents stay informed and remind them on the next immunization schedule. Medics will be able to monitor this and send SMS reminders to parents of new borns. Automated follow up calls will also be done on missed schedules.</p>
  </div>
</section>
<br />
<br />
