<%= form_with(model: vaccine) do |form| %>
  <% if vaccine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vaccine.errors.count, "error") %> prohibited this vaccine from being saved:</h2>

      <ul>
        <% vaccine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
<br />
  <div class="form-group">
    <%= form.label :status, style: "display: block" %>
    <%= form.collection_select :status, Vaccine::VACCINE_STATUS, :to_s, :to_s, { prompt: "Choose a status" }, class: "form-control" %>
  </div>
<br />
  <div class="form-group">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
