<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-xl-2 sidebar">
      <%= render partial: "shared/sidebar" %>
    </div>

    <!-- Main Content -->
    <div class="col-md-9 col-xl-10">
      <div class="main-content-container">
        <h1>Vaccine List</h1>

        <div class="row">
          <div class="col-md-6">
            <%= form_with url: vaccines_path, class: "search-form", method: :get do |form| %>
              <div class="input-group">
                <%= form.text_field :name, value: params[:name], class: "form-control", placeholder: "Search for a vaccine by name" %>
                <div class="input-group-append">
                  <%= form.submit "Search", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-md-6 text-right">
            <%= link_to "New Vaccine", new_vaccine_path, class: "btn btn-success" %>
          </div>
        </div>
        <br />

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID.No</th>
                <th>Vaccine Name</th>
                <th>Vaccine Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <% @vaccines.each do |vaccine| %>
                <tr>
                  <td><%= vaccine.id %></td>
                  <td><%= vaccine.name %></td>
                  <td><%= vaccine.status %></td>
                  <td>
                    <%= link_to "Edit Status", edit_vaccine_path(vaccine), class: "btn btn-info btn-sm mr-1" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
